<div id="<%= dom_id component %>">
  <p>
    <strong>Name:</strong>
    <%= component.name %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= component.version %>
  </p>

  <p>
    <strong>Editor:</strong>
    <%= component.editor_id %>
  </p>

  <p>
    <strong>Support type:</strong>
    <%= component.support_type %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= component.release_date %>
  </p>

  <p>
    <strong>Support end date:</strong>
    <%= component.support_end_date %>
  </p>

  <p>
    <strong>Support end date ex:</strong>
    <%= component.support_end_date_ex %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= component.note %>
  </p>

  <p>
    <strong>Lts:</strong>
    <%= component.lts %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= component.manager_id %>
  </p>

</div>
